@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-transform: uppercase;
  width: 80%;
}

a:link,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}